.account-name {
    color: var(--Secondary-2, #db4444);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.account-tabs {
    color: var(--Text2, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.5;
    cursor: pointer;
}

.account-tabs.active {
    color: #db4444;
}

.myprofile {
    max-width: 100%;
    width: 870px;
    height: 630px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--Primary, #fff);
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.account-label {
    margin-top: 24px;
}

.myprofile-input {
    margin-top: 8px;
    max-width: 100%;
    width: 330px !important;
    height: 50px !important;
    border-radius: 4px;
    background: var(--Secondary, #f5f5f5) !important;
    box-shadow: none !important;
    border: none !important;
}

.myprofile-input1 {
    margin-top: 8px;
    max-width: 100%;
    width: 700px !important;
    height: 50px !important;
    border-radius: 4px;
    background: var(--Secondary, #f5f5f5) !important;
    box-shadow: none !important;
    border: none !important;
}

.myprofile-input:focus {
    background-color: #f5f5f5;
}

.myprofile-input::placeholder {
    color: var(--Text2, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.5;
}