.button-best {
    width: 159px;
    height: 56px;
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Button2, #db4444) !important;
    color: var(--Text, #fafafa);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: none;
}

@media only screen and (max-width: 600px) {
  .button-best {
    width: 100%;
  }
}