.main-left {
    margin-top: 40px !important;
    display: flex;
}

.main-list {
    width: 217px;
    height: 375px;
    display: block;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.main-list li {
    margin-bottom: 16px;
}

.main-dropdown {
    padding-left: 35px;
    padding-bottom: 10px;
}

.main-dropdown1 {
    padding-left: 55px;
    padding-bottom: 5px;
}

.vertical-line {
    width: 1px;
    height: 384px;
    opacity: 0.3;
    background: #000;
    margin: 0 auto;
}

.main-right {
    margin-top: 40px !important;
}


/* .main-right img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    object-fit: cover;
    height: 100vh;
} */

.main-image-carosoul {
    width: 100%;
    height: 344px;
    background-color: var(--black-color);
}

.first {
    margin-top: 58px;
}

.apple-logo {
    /* border: 2px solid red; */
}

.phone-box {
    margin-left: 24px;
}

.phone {
    color: var(--Text, #fafafa);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.second {
    width: 294px;
    margin-left: 94px;
}

.second-text {
    color: var(--Text, #fafafa);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1.92px;
}

.imsgr {
    background-repeat: no-repeat;
    background-position: end;
    background-size: 100%;
    object-fit: cover;
    background-attachment: scroll;
    border-radius: 10px;
    max-width: 100%;
    height: 375px;
}

.carosol-text {
    color: var(--Text, #fafafa);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.carosol-textid3 {
    color: var(--black-color);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.discount {
    width: 60vw;
    color: var(--Text, #ccc);
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1.92px;
}

@media screen and (max-width: 990px) {
    .vertical-line {
        display: none;
    }
    .main-left {
        display: none;
    }
    .main-right {
        margin-top: 0px !important;
    }
}