.left {
    border-radius: 10px !important;
}

.slide img {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: 10px;
    background-position: center !important;
    max-width: 100%;
    height: auto;
    width: 820px;
    height: 520px;
}

.form-box {
    margin-top: 48px;
}

.input-field-login {
    width: 320px;
    height: 32px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.input2 {
    margin-top: 40px;
}

.input2-create {
    margin-top: 16px;
}

.input3-create {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-field {
    position: relative;
}

.custom-button {
    border-radius: 4px;
    background: var(--primary-color);
    display: flex;
    padding: 16px 118px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-color: var(--primary-color);
}

.custom-button1 {
    border-radius: 4px;
    background: white;
    display: flex;
    padding: 16px 80px;
    align-items: flex-start;
    gap: 10px;
    color: var(--black-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.loginBtn {
    border: none;
    background: white;
    border-bottom: 2px solid #ccc;
}

.eye {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
    position: absolute;
    right: 15px;
    top: 25px;
}

.text1 {
    color: var(--black-color);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.44px;
}

.text2 {
    margin-top: 24px;
    margin-bottom: 40px;
    color: var(--black-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.custom-button2 {
    margin-top: 40px;
    width: 123px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background: var(--primary-color);
    border-radius: 4px;
    border: var(--primary-color);
}

.forget {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: 100;
}

@media (max-width: 768px) {
    .left {
        margin-bottom: 30px;
    }
}